<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/contact/">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/about/">About Me <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <body style="background-color:powderblue;"></body>
    

{% block body %}
    <h1 class="text-center mt-5">Contact Me</h1>
    <div class="container">
      <form class="" method='post'>
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input name='name' class="form-control" placeholder="Your Name" aria-label="Your Name    ">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input name='email' class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea name='message' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="mt-2">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </div>
      </form>
     
      
    </div>
{% endblock %}
</body>
</html>